{
  "presets": [
    ["react-app"],
    ["env"]
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    ["transform-react-jsx", {
      "pragma": "React.createElement"
    }]
  ]
}